.dashHead {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.createBtn {
  background-color: green;
  height: 40%;
  padding: 0.7rem;
}

.dashpage {
  max-width: 32rem;
  margin: auto;
}

@media (max-width: 768px) {
  .dashpage {
    padding: 1rem;
  }
}
