.dashBlogListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.dashViewForm {
  display: flex;
  justify-content: space-around;
  width: 5.5rem;
}

.deleteBtn {
  font-size: 1.5rem;
  padding: 0;
  display: flex;
}

.updateBtn {
  font-size: 1.5rem;
  display: flex;
  padding: 0;
}
