.dashBlogListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.dashActionBtns {
  display: flex;
  justify-content: space-around;
  width: 5.5rem;
}

.deleteBtn,
.deleteBtn:hover {
  color: red;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 0;
}

.updateBtn {
  font-size: 1.5rem;
  background-color: transparent;
  padding: 0;
}
