header {
  margin-bottom: 60px;
}

.title {
  margin: 0;
  /* font-size: 1.8rem; */
  font-weight: 700;
}

time {
  margin: 0;
  opacity: 0.5;
  display: block;
  font-size: 0.95rem;
}

.deleteBtn {
  background-color: crimson;
}
