.navBar {
  /* display: flex; */

  max-width: 32rem;

  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.navLinks > :not(:last-child)::after {
  content: "/";
  font-weight: 100;
  margin: 0 0.3rem;
  text-decoration: none;
  display: inline-block;
  color: var(--c-text-light);
  opacity: 0.5;
}

.keyshoes {
  display: inline;
}

.navLink.active {
  color: rgb(131, 131, 131); /* Color for active link */
  text-decoration: none; /*Remove underline for active link */
}

@media (max-width: 768px) {
  .navBar {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
  }

  .keyshoes {
    display: block;
  }

  .navLinks :first-child::after {
    content: "";
  }
}
