.bloglist {
  padding: 0;
}

.bloglist > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .bloglist > li {
    display: block;
  }
}
